/* Remove up and down arrows from number input fields */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* For Chrome, Safari, and Edge */
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* For Firefox */
}
